<section class="product">
  <div class="container-fluid">

    <div class="slider-wrap">
      <div class="slider-main">

        <div class="item">
          <div class="text">
              абра-кодабра
          </div>
        </div>

        <div class="item">
          <div class="text">
                люмус
          </div>
        </div>

                <div class="item">
          <div class="text">
                нокс
          </div>
        </div>

                <div class="item">
          <div class="text">
                плементо
          </div>
        </div>

                <div class="item">
          <div class="text">
                вингардиум лавиоса
          </div>
        </div>

         <div class="item">
          <div class="text">
                патронум
          </div>
        </div>

           <div class="item">
          <div class="text">
                репаре

          </div>
        </div>

      </div>
      <div class="button-area">
        <button type="button" class="previous" appPrev>Previous</button>
        <button type="button" class="next" appNext>Next</button>
      </div>
    </div>
  </div>
</section>

